:root {
  /* Colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-biege: rgb(227, 227, 199);
  --clr-brown: rgb(96, 54, 54)

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

}

@media (min-width: 35em)  {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 45em)  {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark) / .9);
}
/* Typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}


#gameboard {
  display: grid;
  padding: .5rem;
  grid-template-columns: repeat(8, 2.8rem);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-width: 50rem) {
  #gameboard {
    grid-template-columns: repeat(8, 6rem);
  }
}

.square {
  aspect-ratio: 1;
  border: .3px solid rgb(96 54 54 / .4);
  display: grid;
  place-items: center;
}


.beige {
  background-color: var(--clr-biege);
  /* border: .3px solid rgb(227, 227, 199); */
}

.brown {
  background-color: rgb(96, 54, 54);
  /* border: .3px solid rgb(96, 54, 54); */
}

#info {
  height: 30px;
}

.highlight {
  background-color: hsl(var(--clr-light) / .85);
}

.check {
  background-color: rgba(145, 2, 2, 0.58);
}

.end-result {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: hsl(var(--clr-dark) / .85);
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
}

@supports (backdrop-filter: blur(1.4rem)) {
  .end-result {
    background: hsl(var(--clr-dark) / .5);
    backdrop-filter: blur(1.4rem);
  }
}

.end-result button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.end-result.show {
  transform: translateY(0);
}
